@import '_variables.scss';
@import '_loading.scss';
@import '_page.scss';
@import '_frontend.scss';
@import '_front.scss';
@import '_coding.scss';
@import '_soft.scss';

*, *::after, *::before {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;

    @media screen and (max-width: $triggerOne) {
        overflow: auto;
    }
}

html {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;    
    font-size: 67.5%;
}

.structure {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
    background-color: $colorOne;

    @media screen and (max-width: $triggerOne) {
        flex-direction: column;
        height: max-content;
    }

    &__menu {
        flex: 0 0 auto;
        min-width: 30rem;
        width: 30vw;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;

        padding: 4rem;

        @media screen and (max-width: $triggerOne) {
            position: sticky;
            top: 0;

            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: max-content;
            padding: 2rem;

            min-height: 4rem;
            z-index: 100;

            background-color: $colorOne;
        }

        @media screen and (max-width: $mobile) {
            display: none;
        }
    }
    
    &__hamburger {
        display: none;

        position: fixed;
        top: 2rem;
        left: 2rem;
        width: 5rem;
        height: 5rem;

        background-color: $colorOne;
        border: .3rem solid $colorFour;
        box-shadow: .3rem .3rem 0 $colorTwo;
        
        z-index: 10000;

        border-radius: 50%;
        
        align-items: center;
        justify-content: center;
        
        transition: all .2s;
        
        &--name {
            text-align: right;
            font-size: 5rem;

            
            -webkit-text-stroke: 3px;
            -webkit-text-stroke-color: $colorTwo;
        }

        &:hover {
            cursor: pointer;
            
            transform-origin: center;
            transform: rotate(90deg);
            box-shadow: .3rem -.3rem 0 $colorTwo;
        }
        
        &--line {
            position: absolute;
            top: 50%;
            left: 50%;
            height: .3rem;
            width: 2rem;
            background-color: black;

            transform: translate(-50%, -50%);
            
            &::before, &::after {
                content: '';
                position: absolute;
                left: 0%;
                height: .3rem;
                width: 2rem;
                background-color: black;
            }
    
            &::before {
                top: -.7rem;
            }
    
            &::after {
                top: .7rem;
            }
        }
        
        @media screen and (max-width: $mobile) {
            display: flex;
        }
        
        &--menu {
            position: fixed;
            transition: all .2s;
            z-index: 999;

            @media screen and (max-width: $mobile) {
                display: none;
            }
        }

        &--backdrop {
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(lightgray, .5);
        }

        &--top {
            position: fixed;
            
            background-color: $colorOne;
            border: .6rem solid $colorFour;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            row-gap: 3rem;
            margin: 2rem;

            padding: 3rem;
        }
        
        &--button {
            display: none;
            user-select: none;
            
            &:checked {
                & ~ .structure__hamburger--menu {
                    position: fixed;
                    display: flex;
                    user-select: initial;
                    opacity: 1;
                    left: 0%;
                    top: 10%;
                    width: 100%;
                }
            }
            
            &:not(:checked) {
                & ~ .structure__hamburger--menu {
                    display: block;
                    opacity: 0;
                    left: 3.5rem;
                    top: 3.5rem;
                    height: 0;
                    width: 0;
                    & > * { display: none; }
                }
            }

            &:checked, &:not(:checked) {
                & ~ .structure__hamburger--menu {
                    @media screen and (min-width: $mobile) {
                        display: none;
                    }
                }
            }
        }
    }

    &__load {
        position: relative;
        flex: 1;

        height: 100vh;

        &--content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;        
        }

    }

    &__name {

        @media screen and (max-width: $triggerOne) {
            display: flex;
            flex-direction: column;
        }

        &--name {
            font-size: 9rem;
            
            &:nth-of-type(2) {
                margin-top: -4.5rem;
            }
            
            @media screen and (max-width: $triggerOne) {
                font-size: 5rem;
                -webkit-text-stroke: 3px;
                -webkit-text-stroke-color: $colorTwo;
                
                &:nth-of-type(2) {
                    margin-top: -2rem;
                }
            }
        }
    }

    &__dtwo {
        font-size: 2rem;
        text-align: center;
        letter-spacing: .2rem;

        @media screen and (max-width: $triggerOne) {
            display: none;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        row-gap: .5rem;
        column-gap: .5rem;
    }

    &__button {
        background-color: $colorFour;
        border: .2rem solid $colorTwo;
        border-radius: 2rem;
        box-shadow: .4rem .4rem 0 $colorThree;
        
        padding: 1rem;
        width: auto;

        white-space: nowrap;

        font-size: 1.4rem;

        transition: all .2s;
        text-align: center;
        
        &:hover {
            cursor: pointer;
            transform: translateY(.2rem);
            box-shadow: .2rem .2rem 0 $colorThree;
            background-color: $colorThree;
        }
        
        &:active {
            box-shadow: .1rem .1rem 0 $colorThree;
            transform: translateY(.3rem);
        }

    }

    &__line {
        border-radius: .4rem;
        background-color: $colorFour;
        height: .5rem;
        width: 100%;
        border: .1rem solid $colorTwo;
        box-shadow: .2rem .2rem 0 $colorThree;

        
        @media screen and (max-width: $triggerOne) {
            display: none;
        }
    }
}

@keyframes openMenu {
    0% { width: 0%; height: 0%; top: 6rem; left: 6rem; }
    100% { width: 100%; height: 100%; top: 0; left: 0; }
}